* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container {
    background-color: grey;
    width: 60%;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}